@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #A9D2D5;
  color: #5F506B;
  margin-top: 14px;
}

p {
  font-size: 1.4em;
}

#result {
  display: none;
}

.btn {
  background-color: #5F506B;
  color: #A9D2D5;
}

.btn:focus {
  outline: none;
  border-color: #5F506B;
}

.btn:hover {
  color: #FFFFFF;
}

.focus:focus {
  outline: none;
  border-color: #5F506B;
  box-shadow: 0 0 10px #5F506B;
}
